.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}
.navigation-links-navlink3 {
  margin-left: 32px;
  text-decoration: none;
}








@media(max-width: 896px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.register-container {
  display: flex;
  position: relative;
}
.register-register {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-radius: 32px;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}

@media(max-width: 1200px) {
  .register-register {
    color: var(--dl-color-gray-white);
    padding: var(--dl-space-space-halfunit);
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
    border-radius: 32px;
    background-color: var(--dl-color-gray-900);
  }
}
@media(max-width: 991px) {
  .register-register {
    color: var(--dl-color-gray-white);
    padding: var(--dl-space-space-halfunit);
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
    border-radius: 32px;
    background-color: var(--dl-color-gray-900);
  }
}
@media(max-width: 896px) {
  .register-register {
    color: var(--dl-color-gray-white);
    padding: var(--dl-space-space-halfunit);
    border-width: 1px;
    border-radius: 32px;
    background-color: var(--dl-color-gray-900);
  }
  .register-root-class-name {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 414px) {
  .register-register {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 32px;
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-900);
  }
}

.nav-menu-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nav-menu-header {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.nav-menu-navlink {
  display: contents;
}
.nav-menu-image {
  width: 300px;
  text-decoration: none;
}
.nav-menu-nav {
  display: flex;
}
.nav-menu-btn-group {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu-get-started {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.nav-menu-login {
  border-width: 0px;
  margin-right: 0px;
  border-radius: 32px;
  text-decoration: none;
}
.nav-menu-burger-menu {
  display: none;
}
.nav-menu-icon {
  width: 16px;
  height: 16px;
}
.nav-menu-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.nav-menu-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nav-menu-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.nav-menu-image1 {
  height: 2rem;
}
.nav-menu-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu-icon02 {
  width: 16px;
  height: 16px;
}
.nav-menu-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.nav-menu-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.nav-menu-icon08 {
  width: 16px;
  height: 16px;
}
.nav-menu-root-class-name {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name1 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  height: auto;
  position: static;
}
.nav-menu-root-class-name2 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  height: auto;
  position: static;
}
.nav-menu-root-class-name3 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  height: auto;
  position: static;
}
.nav-menu-root-class-name4 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name5 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name6 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name7 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name8 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name9 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name10 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name11 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name12 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name13 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name14 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name15 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name16 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name17 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name18 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name19 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name20 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name21 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name22 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name23 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
@media(max-width: 896px) {
  .nav-menu-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .nav-menu-nav {
    display: none;
  }
  .nav-menu-btn-group {
    display: none;
  }
  .nav-menu-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-menu-icon {
    width: 32px;
    height: 32px;
  }
}
@media(max-width: 414px) {
  .nav-menu-header {
    padding: var(--dl-space-space-unit);
  }
  .nav-menu-image {
    width: 200px;
  }
  .nav-menu-icon {
    width: 32px;
    height: 32px;
    margin-left: 0px;
  }
  .nav-menu-mobile-menu {
    padding: 16px;
  }
}

.demo-button-btn-group {
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.demo-button-link {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.demo-button-link:hover {
  transform: scale(1.02);
}
.demo-button-root-class-name {
  margin-bottom: 0px;
}
@media(max-width: 1200px) {
  .demo-button-link {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: 100%;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--dl-color-gray-900);
  }
}
@media(max-width: 414px) {
  .demo-button-btn-group {
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .demo-button-link {
    text-align: center;
  }
}

.demo-banner-demo-banner {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/gradient_background-1-1500h.jpg");
}
.demo-banner-text {
  margin-top: 0px;
  margin-bottom: 0px;
}






@media(max-width: 414px) {
  .demo-banner-demo-banner {
    background-color: #e2d5d5;
  }
  .demo-banner-root-class-name {
    margin-bottom: 0px;
  }
}

.footer-footer {
  width: 100%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: 0px;
  position: relative;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.footer-navlink {
  display: contents;
}
.footer-image {
  height: 3rem;
  text-decoration: none;
}
.footer-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.footer-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-navlink01 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink02 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text1 {
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-navlink05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink08 {
  text-decoration: none;
}
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text2 {
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text3 {
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-icon {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-icon2 {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-unit);
}
.footer-link1 {
  display: contents;
}
.footer-icon4 {
  width: 16px;
  height: 16px;
  text-decoration: none;
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: var(--dl-color-gray-900);
}
.footer-text4 {
  align-self: center;
}
.footer-root-class-name {
  margin: var(--dl-space-space-unit);
}
.footer-root-class-name1 {
  margin: var(--dl-space-space-unit);
}
.footer-root-class-name2 {
  margin: var(--dl-space-space-unit);
}
.footer-root-class-name3 {
  margin: var(--dl-space-space-unit);
}
@media(max-width: 1200px) {
  .footer-footer {
    margin: var(--dl-space-space-tripleunit);
  }
  .footer-container {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-navlink07 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-root-class-name1 {
    width: 90%;
  }
  .footer-root-class-name2 {
    width: 90%;
  }
  .footer-root-class-name3 {
    width: 90%;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
  .footer-container1 {
    margin-right: 64px;
  }
  .footer-product-container {
    margin-right: 64px;
  }
}
@media(max-width: 896px) {
  .footer-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-logo {
    align-items: center;
  }
  .footer-image {
    margin-bottom: 24px;
  }
  .footer-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .footer-container1 {
    margin-right: 64px;
  }
  .footer-product-container {
    margin-right: 64px;
  }
  .footer-root-class-name1 {
    width: 85%;
    height: 70%;
  }
  .footer-root-class-name2 {
    width: 85%;
    height: 70%;
  }
  .footer-root-class-name3 {
    width: 85%;
    height: 70%;
  }
}
@media(max-width: 414px) {
  .footer-footer {
    margin: var(--dl-space-space-unit);
    padding: 0px;
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-image {
    height: 3rem;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-links-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-container1 {
    margin-right: 0px;
  }
  .footer-navlink07 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-navlink08 {
    text-decoration: none;
  }
  .footer-container2 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-icon {
    width: 16px;
    height: 16px;
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text4 {
    text-align: center;
  }
  .footer-root-class-name1 {
    width: 90%;
  }
  .footer-root-class-name2 {
    width: 90%;
  }
  .footer-root-class-name3 {
    width: 90%;
  }
}

.contact-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-header-container {
  margin-top: var(--dl-space-space-unit);
}
.contact-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.contact-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.contact-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-image {
  width: 100px;
  object-fit: cover;
}
.contact-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-icon {
  width: 24px;
  height: 24px;
}
.contact-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-navlink {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.contact-navlink:hover {
  color: var(--dl-color-turquoise-default);
}
.contact-text {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.contact-text:hover {
  color: var(--dl-color-turquoise-default);
}
.contact-text1 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-text1:hover {
  color: var(--dl-color-turquoise-default);
}
.contact-text2 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-text2:hover {
  color: var(--dl-color-turquoise-default);
}
.contact-text3 {
  transition: 0.3s;
}
.contact-text3:hover {
  color: var(--dl-color-turquoise-default);
}
.contact-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.contact-container01 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-link {
  display: contents;
}
.contact-container02 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-icon02 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.contact-icon02:hover {
  fill: var(--dl-color-purple-default);
}
.contact-link1 {
  display: contents;
}
.contact-container03 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-icon04 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.contact-icon04:hover {
  fill: var(--dl-color-pink-default);
}
.contact-link2 {
  display: contents;
}
.contact-container04 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-icon06 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.contact-icon06:hover {
  fill: var(--dl-color-turquoise-default);
}
.contact-link3 {
  display: contents;
}
.contact-container05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-icon08 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.contact-icon08:hover {
  fill: var(--dl-color-orange-default);
}
.contact-contact {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 0px 3px 0px 0px #d4d4d4;
  align-items: stretch;
  border-radius: 1rem;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.contact-form {
  flex: 3;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.contact-iframe {
  width: 100%;
  height: 375px;
}
.contact-info {
  flex: 6;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 0px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
  border-top-left-radius: 0;
  border-top-right-radius: var(--dl-radius-radius-radius2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--dl-radius-radius-radius2);
}
.contact-container07 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.contact-text6 {
  color: #ffffff;
  z-index: 100;
}
.contact-text7 {
  color: #ffffff;
  z-index: 100;
}
.contact-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-container09 {
  flex: initial;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.contact-icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: var(--dl-space-space-halfunit);
}
.contact-link4 {
  color: #ffffff;
  z-index: 100;
  text-decoration: none;
}
.contact-container10 {
  flex: initial;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.contact-icon12 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: var(--dl-space-space-halfunit);
}
.contact-link5 {
  color: #ffffff;
  z-index: 100;
}
.contact-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-link6 {
  display: contents;
}
.contact-icon14 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link7 {
  display: contents;
}
.contact-icon16 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  z-index: 200;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-link8 {
  display: contents;
}
.contact-icon18 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-image1 {
  top: 0px;
  left: -1px;
  right: auto;
  width: 100px;
  height: 100%;
  z-index: 2;
  position: absolute;
  object-fit: cover;
}
.contact-container12 {
  top: auto;
  flex: 0 0 auto;
  left: auto;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  opacity: 0.9;
  position: absolute;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  background-image: linear-gradient(310deg,#2152ff,#21d4fd);
}
@media(max-width: 1200px) {
  .contact-contact {
    height: auto;
    padding-top: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-iframe {
    height: 375px;
  }
}
@media(max-width: 896px) {
  .contact-contact {
    padding: var(--dl-space-space-tripleunit);
  }
  .contact-info {
    background-size: cover;
    background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
  }
}
@media(max-width: 414px) {
  .contact-bot {
    width: 100%;
  }
  .contact-contact {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-container06 {
    flex-direction: column;
  }
  .contact-form {
    flex: 1;
    width: 100%;
    align-self: flex-start;
    align-items: center;
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
  }
  .contact-info {
    width: auto;
    align-items: center;
    padding-left: 0px;
    justify-content: flex-start;
  }
  .contact-container07 {
    padding: 0px;
    align-items: center;
    justify-content: center;
  }
  .contact-text6 {
    align-self: center;
  }
  .contact-text7 {
    align-self: center;
    text-align: center;
  }
  .contact-image1 {
    display: none;
  }
}
