.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}
.navigation-links-navlink3 {
  margin-left: 32px;
  text-decoration: none;
}








@media(max-width: 896px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.register-container {
  display: flex;
  position: relative;
}
.register-register {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-radius: 32px;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}

@media(max-width: 1200px) {
  .register-register {
    color: var(--dl-color-gray-white);
    padding: var(--dl-space-space-halfunit);
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
    border-radius: 32px;
    background-color: var(--dl-color-gray-900);
  }
}
@media(max-width: 991px) {
  .register-register {
    color: var(--dl-color-gray-white);
    padding: var(--dl-space-space-halfunit);
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
    border-radius: 32px;
    background-color: var(--dl-color-gray-900);
  }
}
@media(max-width: 896px) {
  .register-register {
    color: var(--dl-color-gray-white);
    padding: var(--dl-space-space-halfunit);
    border-width: 1px;
    border-radius: 32px;
    background-color: var(--dl-color-gray-900);
  }
  .register-root-class-name {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 414px) {
  .register-register {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 32px;
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-900);
  }
}

.nav-menu-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nav-menu-header {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.nav-menu-navlink {
  display: contents;
}
.nav-menu-image {
  width: 300px;
  text-decoration: none;
}
.nav-menu-nav {
  display: flex;
}
.nav-menu-btn-group {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu-get-started {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.nav-menu-login {
  border-width: 0px;
  margin-right: 0px;
  border-radius: 32px;
  text-decoration: none;
}
.nav-menu-burger-menu {
  display: none;
}
.nav-menu-icon {
  width: 16px;
  height: 16px;
}
.nav-menu-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.nav-menu-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nav-menu-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.nav-menu-image1 {
  height: 2rem;
}
.nav-menu-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu-icon02 {
  width: 16px;
  height: 16px;
}
.nav-menu-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.nav-menu-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.nav-menu-icon08 {
  width: 16px;
  height: 16px;
}
.nav-menu-root-class-name {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name1 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  height: auto;
  position: static;
}
.nav-menu-root-class-name2 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  height: auto;
  position: static;
}
.nav-menu-root-class-name3 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  height: auto;
  position: static;
}
.nav-menu-root-class-name4 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name5 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name6 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name7 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name8 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name9 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name10 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name11 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name12 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name13 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name14 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name15 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name16 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name17 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name18 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name19 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name20 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name21 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name22 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
.nav-menu-root-class-name23 {
  top: 6px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: auto;
  position: static;
}
@media(max-width: 896px) {
  .nav-menu-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .nav-menu-nav {
    display: none;
  }
  .nav-menu-btn-group {
    display: none;
  }
  .nav-menu-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-menu-icon {
    width: 32px;
    height: 32px;
  }
}
@media(max-width: 414px) {
  .nav-menu-header {
    padding: var(--dl-space-space-unit);
  }
  .nav-menu-image {
    width: 200px;
  }
  .nav-menu-icon {
    width: 32px;
    height: 32px;
    margin-left: 0px;
  }
  .nav-menu-mobile-menu {
    padding: 16px;
  }
}

.header-container-header-container {
  position: relative;
  margin-top: var(--dl-space-space-unit);
}
.header-container-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-container-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.header-container-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-container-image {
  width: 100px;
  object-fit: cover;
}
.header-container-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container-icon {
  width: 24px;
  height: 24px;
}
.header-container-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container-navlink {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-container-navlink:hover {
  color: var(--dl-color-turquoise-default);
}
.header-container-text {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-container-text:hover {
  color: var(--dl-color-turquoise-default);
}
.header-container-text1 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-container-text1:hover {
  color: var(--dl-color-turquoise-default);
}
.header-container-text2 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-container-text2:hover {
  color: var(--dl-color-turquoise-default);
}
.header-container-text3 {
  transition: 0.3s;
}
.header-container-text3:hover {
  color: var(--dl-color-turquoise-default);
}
.header-container-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.header-container-container {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.header-container-link {
  display: contents;
}
.header-container-container1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.header-container-icon02 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.header-container-icon02:hover {
  fill: var(--dl-color-purple-default);
}
.header-container-link1 {
  display: contents;
}
.header-container-container2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.header-container-icon04 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.header-container-icon04:hover {
  fill: var(--dl-color-pink-default);
}
.header-container-link2 {
  display: contents;
}
.header-container-container3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.header-container-icon06 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.header-container-icon06:hover {
  fill: var(--dl-color-turquoise-default);
}
.header-container-link3 {
  display: contents;
}
.header-container-container4 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.header-container-icon08 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.header-container-icon08:hover {
  fill: var(--dl-color-orange-default);
}

@media(max-width: 414px) {
  .header-container-bot {
    width: 100%;
  }
}

.blog-post-card-template-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card-template-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card-template-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card-template-container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card-template-text {
  font-size: 1.5rem;
  font-family: Arial;
  font-weight: 300;
  margin-bottom: 32px;
}
.blog-post-card-template-text1 {
  color: #595959;
  font-family: Arial;
  font-weight: 400;
  margin-bottom: 32px;
}
.blog-post-card-template-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.blog-post-card-template-profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.blog-post-card-template-image1 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.blog-post-card-template-text2 {
  font-family: Arial;
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-card-template-text3 {
  color: var(--dl-color-gray-700);
  font-weight: 300;
}

.blog-post-card-template-root-class-name1 {
  height: 650px;
  align-self: flex-start;
  margin-right: var(--dl-space-space-unit);
}
.blog-post-card-template-root-class-name3 {
  height: 650px;
  align-self: flex-start;
}




.blog-post-card-template-root-class-name8 {
  height: 650px;
  align-self: flex-start;
  margin-right: var(--dl-space-space-unit);
}
.blog-post-card-template-root-class-name9 {
  height: 650px;
  align-self: flex-start;
  margin-right: var(--dl-space-space-unit);
}
.blog-post-card-template-root-class-name10 {
  height: 650px;
  align-self: flex-start;
}

.blog-post-card-template-root-class-name12 {
  height: 650px;
  align-self: flex-start;
  margin-right: var(--dl-space-space-unit);
}
.blog-post-card-template-root-class-name13 {
  height: 650px;
  align-self: flex-start;
}

.blog-post-card-template-root-class-name15 {
  height: 650px;
  align-self: flex-start;
  margin-right: var(--dl-space-space-unit);
}
.blog-post-card-template-root-class-name16 {
  height: 650px;
  align-self: flex-start;
}

.blog-post-card-template-root-class-name18 {
  height: 650px;
  align-self: flex-start;
  margin-right: var(--dl-space-space-unit);
}
.blog-post-card-template-root-class-name19 {
  height: 650px;
  align-self: flex-start;
}
@media(max-width: 1200px) {
  .blog-post-card-template-image {
    height: 250px;
  }
  .blog-post-card-template-text {
    font-family: Arial;
  }
  .blog-post-card-template-text1 {
    font-family: Arial;
  }
  .blog-post-card-template-text2 {
    font-family: Arial;
  }
  .blog-post-card-template-root-class-name1 {
    height: 100%;
  }
  .blog-post-card-template-root-class-name3 {
    height: 100%;
    align-self: flex-start;
  }
  .blog-post-card-template-root-class-name5 {
    align-self: center;
  }
  .blog-post-card-template-root-class-name8 {
    height: 100%;
  }
  .blog-post-card-template-root-class-name9 {
    height: 100%;
  }
  .blog-post-card-template-root-class-name10 {
    height: 100%;
    align-self: flex-start;
  }
  .blog-post-card-template-root-class-name12 {
    height: 100%;
  }
  .blog-post-card-template-root-class-name13 {
    height: 100%;
    align-self: flex-start;
  }
  .blog-post-card-template-root-class-name15 {
    height: 100%;
  }
  .blog-post-card-template-root-class-name16 {
    height: 100%;
    align-self: flex-start;
  }
  .blog-post-card-template-root-class-name18 {
    height: 100%;
  }
  .blog-post-card-template-root-class-name19 {
    height: 100%;
    align-self: flex-start;
  }
}
@media(max-width: 991px) {
  .blog-post-card-template-image {
    height: 250px;
  }
}
@media(max-width: 896px) {
  .blog-post-card-template-text {
    font-family: Arial;
  }
  .blog-post-card-template-text1 {
    font-family: Arial;
  }
  .blog-post-card-template-root-class-name12 {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 414px) {
  .blog-post-card-template-root-class-name1 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .blog-post-card-template-root-class-name9 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .blog-post-card-template-root-class-name12 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .blog-post-card-template-root-class-name15 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .blog-post-card-template-root-class-name18 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}

.footer-footer {
  width: 100%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: 0px;
  position: relative;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.footer-navlink {
  display: contents;
}
.footer-image {
  height: 3rem;
  text-decoration: none;
}
.footer-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.footer-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-navlink01 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink02 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text1 {
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-navlink05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink08 {
  text-decoration: none;
}
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text2 {
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text3 {
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-icon {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-icon2 {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-unit);
}
.footer-link1 {
  display: contents;
}
.footer-icon4 {
  width: 16px;
  height: 16px;
  text-decoration: none;
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: var(--dl-color-gray-900);
}
.footer-text4 {
  align-self: center;
}
.footer-root-class-name {
  margin: var(--dl-space-space-unit);
}
.footer-root-class-name1 {
  margin: var(--dl-space-space-unit);
}
.footer-root-class-name2 {
  margin: var(--dl-space-space-unit);
}
.footer-root-class-name3 {
  margin: var(--dl-space-space-unit);
}
@media(max-width: 1200px) {
  .footer-footer {
    margin: var(--dl-space-space-tripleunit);
  }
  .footer-container {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-navlink07 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-root-class-name1 {
    width: 90%;
  }
  .footer-root-class-name2 {
    width: 90%;
  }
  .footer-root-class-name3 {
    width: 90%;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
  .footer-container1 {
    margin-right: 64px;
  }
  .footer-product-container {
    margin-right: 64px;
  }
}
@media(max-width: 896px) {
  .footer-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-logo {
    align-items: center;
  }
  .footer-image {
    margin-bottom: 24px;
  }
  .footer-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .footer-container1 {
    margin-right: 64px;
  }
  .footer-product-container {
    margin-right: 64px;
  }
  .footer-root-class-name1 {
    width: 85%;
    height: 70%;
  }
  .footer-root-class-name2 {
    width: 85%;
    height: 70%;
  }
  .footer-root-class-name3 {
    width: 85%;
    height: 70%;
  }
}
@media(max-width: 414px) {
  .footer-footer {
    margin: var(--dl-space-space-unit);
    padding: 0px;
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-image {
    height: 3rem;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-links-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-container1 {
    margin-right: 0px;
  }
  .footer-navlink07 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-navlink08 {
    text-decoration: none;
  }
  .footer-container2 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-icon {
    width: 16px;
    height: 16px;
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text4 {
    text-align: center;
  }
  .footer-root-class-name1 {
    width: 90%;
  }
  .footer-root-class-name2 {
    width: 90%;
  }
  .footer-root-class-name3 {
    width: 90%;
  }
}

.quoting-and-estimating-for-electricians-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.quoting-and-estimating-for-electricians-hero {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-height: 60vh;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("https://images.unsplash.com/photo-1601462904263-f2fa0c851cb9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDh8fGVsZWN0cmljaWFufGVufDB8fHx8MTY4MzI5OTE4NQ&ixlib=rb-4.0.3&h=1500");
}
.quoting-and-estimating-for-electricians-container1 {
  width: 50%;
  display: flex;
  margin-right: 0px;
  padding-right: 0px;
  flex-direction: column;
  background-color: #D9D9D9;
}
.quoting-and-estimating-for-electricians-text {
  width: 100%;
  font-size: 3rem;
  max-width: auto;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.quoting-and-estimating-for-electricians-text01 {
  font-size: 2rem;
  align-self: center;
  margin-top: 32px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 32px;
}
.quoting-and-estimating-for-electricians-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.quoting-and-estimating-for-electricians-button:hover {
  transform: scale(1.02);
}
.quoting-and-estimating-for-electricians-text03:hover {
  transform: scale(1.02);
}
.quoting-and-estimating-for-electricians-hero1 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.quoting-and-estimating-for-electricians-link {
  display: contents;
}
.quoting-and-estimating-for-electricians-image {
  width: 100%;
  object-fit: cover;
  text-decoration: none;
}
.quoting-and-estimating-for-electricians-hero2 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 1400px;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.quoting-and-estimating-for-electricians-image1 {
  width: 400px;
  object-fit: cover;
}
.quoting-and-estimating-for-electricians-container2 {
  display: flex;
  margin-left: 32px;
  flex-direction: column;
}
.quoting-and-estimating-for-electricians-text05 {
  font-size: 3rem;
}
.quoting-and-estimating-for-electricians-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.quoting-and-estimating-for-electricians-text06 {
  font-size: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 48px;
}
.quoting-and-estimating-for-electricians-button1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.quoting-and-estimating-for-electricians-button1:hover {
  transform: scale(1.02);
}
.quoting-and-estimating-for-electricians-text08:hover {
  transform: scale(1.02);
}
.quoting-and-estimating-for-electricians-hero3 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.quoting-and-estimating-for-electricians-image2 {
  width: 100%;
  object-fit: cover;
}
.quoting-and-estimating-for-electricians-hero4 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 1400px;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.quoting-and-estimating-for-electricians-image3 {
  width: 400px;
  object-fit: cover;
}
.quoting-and-estimating-for-electricians-container3 {
  display: flex;
  margin-left: 32px;
  flex-direction: column;
}
.quoting-and-estimating-for-electricians-text10 {
  font-size: 3rem;
}
.quoting-and-estimating-for-electricians-text11 {
  padding: var(--dl-space-space-unit);
  font-size: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.quoting-and-estimating-for-electricians-button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.quoting-and-estimating-for-electricians-button2:hover {
  transform: scale(1.02);
}
.quoting-and-estimating-for-electricians-hero5 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.quoting-and-estimating-for-electricians-image4 {
  width: 100%;
  object-fit: cover;
}
.quoting-and-estimating-for-electricians-hero6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1400px;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.quoting-and-estimating-for-electricians-image5 {
  width: 400px;
  object-fit: cover;
}
.quoting-and-estimating-for-electricians-container4 {
  display: flex;
  margin-right: 48px;
  padding-right: 48px;
  flex-direction: column;
}
.quoting-and-estimating-for-electricians-text16 {
  font-size: 3rem;
  max-width: 450px;
}
.quoting-and-estimating-for-electricians-text17 {
  font-size: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.quoting-and-estimating-for-electricians-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.quoting-and-estimating-for-electricians-button3 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
}
.quoting-and-estimating-for-electricians-button3:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.quoting-and-estimating-for-electricians-hero7 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.quoting-and-estimating-for-electricians-image6 {
  width: 100%;
  object-fit: cover;
}
.quoting-and-estimating-for-electricians-stats {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  justify-content: center;
}
.quoting-and-estimating-for-electricians-stat {
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
}
.quoting-and-estimating-for-electricians-icon {
  fill: var(--dl-color-gray-700);
  width: 48px;
  height: 48px;
}
.quoting-and-estimating-for-electricians-text21 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.quoting-and-estimating-for-electricians-text22 {
  color: var(--dl-color-gray-700);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.quoting-and-estimating-for-electricians-stat1 {
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
}
.quoting-and-estimating-for-electricians-icon3 {
  fill: var(--dl-color-gray-700);
  width: 48px;
  height: 48px;
}
.quoting-and-estimating-for-electricians-text23 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.quoting-and-estimating-for-electricians-text24 {
  color: var(--dl-color-gray-700);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.quoting-and-estimating-for-electricians-stat2 {
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
}
.quoting-and-estimating-for-electricians-icon5 {
  fill: var(--dl-color-gray-700);
  width: 48px;
  height: 48px;
}
.quoting-and-estimating-for-electricians-text25 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.quoting-and-estimating-for-electricians-text26 {
  color: var(--dl-color-gray-700);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.quoting-and-estimating-for-electricians-blog {
  width: 100%;
  display: flex;
  padding: 0px;
  max-width: 1400px;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.quoting-and-estimating-for-electricians-container5 {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 0px;
  justify-content: space-between;
}
.quoting-and-estimating-for-electricians-component1 {
  text-decoration: none;
}
.quoting-and-estimating-for-electricians-component2 {
  text-decoration: none;
}
.quoting-and-estimating-for-electricians-component3 {
  text-decoration: none;
}
@media(max-width: 1200px) {
  .quoting-and-estimating-for-electricians-hero {
    color: var(--dl-color-gray-black);
    height: 100%;
    opacity: 0.8;
    min-height: 0px;
    padding-top: 74px;
    background-size: cover;
    background-image: e519aa9a-cf1a-4db5-be25-c91acc164af3;
  }
  .quoting-and-estimating-for-electricians-container1 {
    flex: 0 0 auto;
    width: 500px;
    align-self: flex-start;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-doubleunit);
    justify-content: center;
    background-color: #D9D9D9;
  }
  .quoting-and-estimating-for-electricians-text {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 3rem;
    max-width: auto;
    align-self: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-text01 {
    font-size: 28px;
    margin-top: 0px;
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-button {
    color: var(--dl-color-gray-white);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    background-color: var(--dl-color-gray-black);
  }
  .quoting-and-estimating-for-electricians-text03 {
    align-self: flex-start;
  }
  .quoting-and-estimating-for-electricians-hero1 {
    width: 100%;
    height: auto;
    margin: 0px;
    min-height: auto;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .quoting-and-estimating-for-electricians-image {
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .quoting-and-estimating-for-electricians-hero2 {
    padding: var(--dl-space-space-fourunits);
    min-height: auto;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
    background-color: var(--dl-color-gray-white);
  }
  .quoting-and-estimating-for-electricians-image1 {
    width: 400px;
    height: auto;
    margin-bottom: 0px;
  }
  .quoting-and-estimating-for-electricians-text05 {
    font-size: 3rem;
  }
  .quoting-and-estimating-for-electricians-btn-group {
    align-self: stretch;
  }
  .quoting-and-estimating-for-electricians-button1 {
    color: var(--dl-color-gray-white);
    align-self: flex-start;
    background-color: var(--dl-color-gray-black);
  }
  .quoting-and-estimating-for-electricians-text08 {
    align-self: flex-start;
  }
  .quoting-and-estimating-for-electricians-hero3 {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: var(--dl-space-space-doubleunit);
    min-height: auto;
  }
  .quoting-and-estimating-for-electricians-image2 {
    width: 100%;
    height: auto;
    align-self: stretch;
  }
  .quoting-and-estimating-for-electricians-hero4 {
    height: 50%;
    padding: var(--dl-space-space-doubleunit);
    min-height: 150%;
  }
  .quoting-and-estimating-for-electricians-image3 {
    width: 400px;
    height: auto;
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-container3 {
    align-self: flex-start;
  }
  .quoting-and-estimating-for-electricians-text10 {
    font-size: 3rem;
  }
  .quoting-and-estimating-for-electricians-text11 {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .quoting-and-estimating-for-electricians-button2 {
    color: var(--dl-color-gray-white);
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
    background-color: var(--dl-color-gray-black);
  }
  .quoting-and-estimating-for-electricians-hero5 {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-doubleunit);
    min-height: auto;
  }
  .quoting-and-estimating-for-electricians-image4 {
    width: 100%;
    align-self: stretch;
  }
  .quoting-and-estimating-for-electricians-hero6 {
    height: auto;
    min-height: auto;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .quoting-and-estimating-for-electricians-image5 {
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-container4 {
    align-self: flex-start;
  }
  .quoting-and-estimating-for-electricians-text16 {
    font-size: 3rem;
  }
  .quoting-and-estimating-for-electricians-button3 {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
  }
  .quoting-and-estimating-for-electricians-hero7 {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-doubleunit);
    min-height: auto;
  }
  .quoting-and-estimating-for-electricians-image6 {
    width: 100%;
    align-self: stretch;
  }
  .quoting-and-estimating-for-electricians-stats {
    height: 100%;
    padding: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-stat {
    padding-bottom: 32px;
  }
  .quoting-and-estimating-for-electricians-icon {
    fill: #299662;
  }
  .quoting-and-estimating-for-electricians-text21 {
    font-size: 1.15rem;
  }
  .quoting-and-estimating-for-electricians-text22 {
    color: var(--dl-color-gray-700);
  }
  .quoting-and-estimating-for-electricians-icon3 {
    fill: #299662;
  }
  .quoting-and-estimating-for-electricians-text23 {
    font-size: 1.15rem;
  }
  .quoting-and-estimating-for-electricians-text24 {
    color: var(--dl-color-gray-700);
    font-size: 0.75rem;
  }
  .quoting-and-estimating-for-electricians-icon5 {
    fill: #299662;
  }
  .quoting-and-estimating-for-electricians-text25 {
    font-size: 1.15rem;
  }
  .quoting-and-estimating-for-electricians-text26 {
    color: var(--dl-color-gray-700);
    font-size: 0.75rem;
  }
  .quoting-and-estimating-for-electricians-blog {
    padding: var(--dl-space-space-unit);
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    justify-content: center;
  }
  .quoting-and-estimating-for-electricians-container5 {
    width: auto;
    height: 700px;
    align-items: flex-start;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    justify-content: center;
  }
}
@media(max-width: 991px) {
  .quoting-and-estimating-for-electricians-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .quoting-and-estimating-for-electricians-container1 {
    align-self: center;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .quoting-and-estimating-for-electricians-text {
    height: auto;
    font-size: 2rem;
    text-align: center;
  }
  .quoting-and-estimating-for-electricians-text01 {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
  .quoting-and-estimating-for-electricians-hero1 {
    flex-direction: column;
  }
  .quoting-and-estimating-for-electricians-hero2 {
    padding: var(--dl-space-space-unit);
    align-self: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .quoting-and-estimating-for-electricians-image1 {
    width: 25%;
    height: auto;
  }
  .quoting-and-estimating-for-electricians-container2 {
    width: 75%;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .quoting-and-estimating-for-electricians-text05 {
    text-align: center;
  }
  .quoting-and-estimating-for-electricians-text06 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .quoting-and-estimating-for-electricians-button1 {
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-hero3 {
    flex-direction: column;
  }
  .quoting-and-estimating-for-electricians-hero4 {
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .quoting-and-estimating-for-electricians-image3 {
    order: 2;
    width: 30rem;
    height: 15rem;
  }
  .quoting-and-estimating-for-electricians-container3 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .quoting-and-estimating-for-electricians-text10 {
    text-align: center;
  }
  .quoting-and-estimating-for-electricians-text11 {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .quoting-and-estimating-for-electricians-button2 {
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-hero5 {
    flex-direction: column;
  }
  .quoting-and-estimating-for-electricians-hero6 {
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .quoting-and-estimating-for-electricians-image5 {
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-container4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .quoting-and-estimating-for-electricians-text16 {
    text-align: center;
  }
  .quoting-and-estimating-for-electricians-text17 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-hero7 {
    flex-direction: column;
  }
  .quoting-and-estimating-for-electricians-blog {
    flex-direction: column;
  }
  .quoting-and-estimating-for-electricians-container5 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
}
@media(max-width: 896px) {
  .quoting-and-estimating-for-electricians-container1 {
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-text {
    width: 100%;
    height: auto;
    font-size: 2rem;
  }
  .quoting-and-estimating-for-electricians-button {
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-button1 {
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-stats {
    padding: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-blog {
    width: 100%;
    max-width: 1400px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 32px;
    margin-bottom: 0px;
    padding-right: 32px;
  }
  .quoting-and-estimating-for-electricians-container5 {
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .quoting-and-estimating-for-electricians-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .quoting-and-estimating-for-electricians-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-hero1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .quoting-and-estimating-for-electricians-hero2 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .quoting-and-estimating-for-electricians-hero3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .quoting-and-estimating-for-electricians-hero4 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .quoting-and-estimating-for-electricians-image3 {
    width: 80%;
  }
  .quoting-and-estimating-for-electricians-hero5 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .quoting-and-estimating-for-electricians-hero6 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .quoting-and-estimating-for-electricians-image5 {
    width: 80%;
  }
  .quoting-and-estimating-for-electricians-text17 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-hero7 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .quoting-and-estimating-for-electricians-stats {
    padding-left: 32px;
    padding-right: 32px;
  }
  .quoting-and-estimating-for-electricians-stat {
    padding: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-text21 {
    text-align: center;
  }
  .quoting-and-estimating-for-electricians-stat1 {
    padding: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-text23 {
    text-align: center;
  }
  .quoting-and-estimating-for-electricians-stat2 {
    padding: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-text25 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .quoting-and-estimating-for-electricians-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .quoting-and-estimating-for-electricians-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-hero1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .quoting-and-estimating-for-electricians-hero2 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .quoting-and-estimating-for-electricians-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-btn-group {
    flex-direction: column;
  }
  .quoting-and-estimating-for-electricians-text06 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-hero3 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .quoting-and-estimating-for-electricians-hero4 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .quoting-and-estimating-for-electricians-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-text11 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-hero5 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .quoting-and-estimating-for-electricians-hero6 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .quoting-and-estimating-for-electricians-container4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-btn-group1 {
    flex-direction: column;
  }
  .quoting-and-estimating-for-electricians-hero7 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .quoting-and-estimating-for-electricians-stats {
    align-items: center;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
  }
}
@media(max-width: 414px) {
  .quoting-and-estimating-for-electricians-hero {
    height: auto;
    align-self: center;
    max-height: 400px;
  }
  .quoting-and-estimating-for-electricians-container1 {
    width: auto;
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .quoting-and-estimating-for-electricians-text {
    color: #000000;
    width: 50rem;
    height: auto;
    font-size: 2rem;
    max-width: 400px;
    align-self: center;
    font-style: normal;
    font-weight: 600;
  }
  .quoting-and-estimating-for-electricians-text01 {
    width: 100%;
    height: auto;
    font-size: 1rem;
  }
  .quoting-and-estimating-for-electricians-button {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-hero1 {
    margin: 0px;
    padding: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-image {
    margin: 0px;
  }
  .quoting-and-estimating-for-electricians-hero2 {
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-image1 {
    width: 50%;
    height: auto;
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-container2 {
    width: 100%;
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-text05 {
    font-size: 2rem;
  }
  .quoting-and-estimating-for-electricians-text06 {
    font-size: 24px;
    margin-top: var(--dl-space-space-unit);
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
    padding-right: 0px;
  }
  .quoting-and-estimating-for-electricians-button1 {
    align-self: center;
  }
  .quoting-and-estimating-for-electricians-hero3 {
    padding: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-hero4 {
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-image3 {
    width: 50%;
    height: 0px;
  }
  .quoting-and-estimating-for-electricians-container3 {
    flex-direction: column;
  }
  .quoting-and-estimating-for-electricians-text10 {
    font-size: 2rem;
  }
  .quoting-and-estimating-for-electricians-text11 {
    font-size: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .quoting-and-estimating-for-electricians-hero5 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-hero6 {
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-image5 {
    width: 50%;
  }
  .quoting-and-estimating-for-electricians-text16 {
    font-size: 2rem;
  }
  .quoting-and-estimating-for-electricians-text17 {
    font-size: 24px;
  }
  .quoting-and-estimating-for-electricians-hero7 {
    padding: var(--dl-space-space-unit);
  }
  .quoting-and-estimating-for-electricians-stats {
    height: auto;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
    flex-direction: row;
  }
  .quoting-and-estimating-for-electricians-stat {
    width: 33%;
    padding: 0px;
    align-self: flex-start;
  }
  .quoting-and-estimating-for-electricians-icon {
    width: var(--dl-size-size-tripleunit);
    height: auto;
  }
  .quoting-and-estimating-for-electricians-stat1 {
    width: 34%;
    height: 100%;
    padding: 0px;
    align-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .quoting-and-estimating-for-electricians-icon3 {
    width: var(--dl-size-size-tripleunit);
    height: auto;
  }
  .quoting-and-estimating-for-electricians-stat2 {
    width: 33%;
    padding: 0px;
    align-self: flex-start;
  }
  .quoting-and-estimating-for-electricians-icon5 {
    width: var(--dl-size-size-tripleunit);
    height: auto;
  }
  .quoting-and-estimating-for-electricians-blog {
    width: 90%;
    align-items: center;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    background-color: transparent;
  }
  .quoting-and-estimating-for-electricians-container5 {
    height: auto;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
}
