<div>
  <link href="./blog-post-card3.css" rel="stylesheet" />
  <div class="blog-post-card3-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdvcmtpbmclMjBkZXNrfGVufDB8fHx8MTYyNjI1MDYwMg&ixlib=rb-1.2.1&w=1500"
      class="blog-post-card3-image"
    />
    <div class="blog-post-card3-container">
      <h2 class="blog-post-card3-text">
        <span>Lorem ipsum dolor sit amet</span>
      </h2>
      <div class="blog-post-card3-container1">
        <span class="blog-post-card3-text1">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
            volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
            dignissim tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
            ...
          </span>
        </span>
        <span class="blog-post-card3-text2">Read More</span>
      </div>
    </div>
  </div>
</div>
