.component1-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.component1-trigger {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.component1-text {
  width: 100%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.component1-answer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.component1-text1 {
  font-size: 25px;
}
@media(max-width: 1200px) {
  .component1-text {
    width: 100%;
    font-size: 25px;
  }
  .component1-answer {
    width: 100%;
  }
  .component1-text1 {
    font-size: 25px;
  }
}
@media(max-width: 414px) {
  .component1-container {
    width: 100%;
    height: auto;
  }
}
