<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>Home</span></a>
    <a
      href="quotes-invoices-project-reports.html"
      class="navigation-links-navlink1"
    >
      <span>Features</span>
    </a>
    <a href="view-our-pricing-plans.html" class="navigation-links-navlink2">
      <span>Pricing</span>
    </a>
    <a href="blog.html" class="navigation-links-navlink3"><span>Blog</span></a>
  </nav>
</div>
